Onboarding-Cliente.json
{
  "name": "Onboarding-Cliente",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onboard-client",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-600, 0],
      "id": "aaa00001-0000-0000-0000-000000000001",
      "name": "Webhook Onboarding"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst brands = body.brands;\nif (!brands || brands.length === 0) {\n  throw new Error('Se requieren marcas (brands).');\n}\n\nconst email = body.email || body.clientEmail || '';\nif (!email) throw new Error('Se requiere email del cliente.');\n\nconst nombre = (body.nombre || '') + ' ' + (body.apellido || '');\nconst myBrand = body.myBrand || brands[0];\nconst plan = body.plan || 'basic';\n\nreturn [{ brands, email, nombre: nombre.trim(), myBrand, plan }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 0],
      "id": "aaa00001-0000-0000-0000-000000000002",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ properties: { title: 'SmartSocial - ' + $json.nombre + ' (' + new Date().toLocaleDateString('es-AR') + ')' }, sheets: [ { properties: { title: 'Base', index: 0 } }, { properties: { title: 'Nube', index: 1 } } ] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 0],
      "id": "aaa00001-0000-0000-0000-000000000003",
      "name": "Create Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q0QymsIPNMn7XUhz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $json.spreadsheetId + '/values:batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ valueInputOption: 'RAW', data: [{ range: 'Base!A1:Q1', values: [['RED-SOCIAL','POSTEO','PILAR','POSITIVO','NEGATIVO','NEUTRO','INSIGHT','LIKES','COMENTARIOS','ENGAGEMENT','DATE','TYPE','MARCA','VIEWS','CONTENT_TYPE','SPONSORED','HASHTAGS']] }, { range: 'Nube!A1:D1', values: [['MARCA','NUBE PALABRAS','COMENTARIOS','RED-SOCIAL']] }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "id": "aaa00001-0000-0000-0000-000000000007",
      "name": "Write Headers",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q0QymsIPNMn7XUhz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sheetResp = $('Create Google Sheet').first().json;\nconst sheetId = sheetResp.spreadsheetId;\n\nif (!sheetId) {\n  throw new Error('No se pudo crear el Sheet. Respuesta: ' + JSON.stringify(sheetResp));\n}\n\nconst config = $('Validate Input').first().json;\n\nconst dashboardUrl = 'https://smart-social-ai.vercel.app/Instagram_Intelligence%20(24).html?id=' + sheetId + '&myBrand=' + encodeURIComponent(config.myBrand) + '&plan=' + (config.plan || 'basic');\n\nreturn [{\n  sheetId,\n  dashboardUrl,\n  brands: config.brands,\n  email: config.email,\n  nombre: config.nombre,\n  myBrand: config.myBrand,\n  plan: config.plan\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0],
      "id": "aaa00001-0000-0000-0000-000000000004",
      "name": "Extract Sheet ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dsabena.app.n8n.cloud/webhook/scrape-instagram",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ brands: $json.brands, sheetId: $json.sheetId, myBrand: $json.myBrand, clientEmail: $json.email, plan: $json.plan }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 0],
      "id": "aaa00001-0000-0000-0000-000000000005",
      "name": "Trigger Scraper"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, sheetId: $('Extract Sheet ID').first().json.sheetId, dashboardUrl: $('Extract Sheet ID').first().json.dashboardUrl, plan: $('Extract Sheet ID').first().json.plan, message: $('Extract Sheet ID').first().json.plan === 'basic' ? 'Tu reporte inicial se está generando. En 24 horas lo tenés en tu email.' : 'Tu dashboard se está generando. En 48 horas lo tenés en tu email.' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [600, 0],
      "id": "aaa00001-0000-0000-0000-000000000006",
      "name": "Respond to Client"
    },
    {
      "parameters": {
        "sendTo": "daniel_sabena@hotmail.com",
        "subject": "=🔔 tombaio · Nuevo reporte listo — {{ $('Validate Input').first().json.nombre }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html><body style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;background:#f7f7f8;margin:0;padding:40px 20px\">\n<div style=\"max-width:560px;margin:0 auto;background:#fff;border-radius:16px;overflow:hidden;border:1px solid #e0e0e5\">\n  <div style=\"background:#111112;padding:28px 36px\">\n    <div style=\"font-size:1.2rem;font-weight:700;color:#fff\">tomb<span style=\"color:#0057ff\">ai</span>o</div>\n  </div>\n  <div style=\"padding:40px 36px\">\n    <h1 style=\"font-size:1.4rem;color:#111112;margin:0 0 20px\">🔔 Nuevo reporte listo para aprobar</h1>\n    <table style=\"width:100%;border-collapse:collapse;margin-bottom:24px\">\n      <tr><td style=\"padding:6px 0;color:#6b6b75;font-size:.9rem\">Cliente</td><td style=\"padding:6px 0;font-weight:600;color:#111112\">{{ $('Validate Input').first().json.nombre }}</td></tr>\n      <tr><td style=\"padding:6px 0;color:#6b6b75;font-size:.9rem\">Email</td><td style=\"padding:6px 0;color:#111112\">{{ $('Validate Input').first().json.email }}</td></tr>\n      <tr><td style=\"padding:6px 0;color:#6b6b75;font-size:.9rem\">Plan</td><td style=\"padding:6px 0;font-weight:600;color:#0057ff\">{{ $('Validate Input').first().json.plan }}</td></tr>\n    </table>\n    <a href=\"{{ $('Extract Sheet ID').first().json.dashboardUrl }}\" style=\"display:inline-block;background:#111112;color:#fff;text-decoration:none;font-weight:600;padding:12px 28px;border-radius:8px;font-size:.95rem;margin-bottom:12px\">Ver dashboard →</a>\n    <br>\n    <a href=\"{{ $execution.resumeUrl }}\" style=\"display:inline-block;background:#0057ff;color:#fff;text-decoration:none;font-weight:600;padding:12px 28px;border-radius:8px;font-size:.95rem;margin-top:8px\">✅ Aprobar y enviar al cliente →</a>\n    <p style=\"color:#9f9fa8;font-size:.8rem;margin:24px 0 0\">Al hacer clic en Aprobar, el email con el dashboard se enviará automáticamente al cliente.</p>\n  </div>\n</div>\n</body></html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [800, 0],
      "id": "aaa00001-0000-0000-0000-000000000008",
      "name": "Email Owner",
      "credentials": {
        "gmailOAuth2": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL_GMAIL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1000, 0],
      "id": "aaa00001-0000-0000-0000-000000000009",
      "name": "Esperar Aprobación"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.RESEND_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ from: 'tombaio <hola@tombaio.com>', to: [$('Validate Input').first().json.email], subject: $('Validate Input').first().json.plan === 'basic' ? 'Tu Reporte Inicial de tombaio está listo 🎯' : 'Tu Dashboard tombaio está listo 🎯', html: '<!DOCTYPE html><html><body style=\"font-family:-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',sans-serif;background:#f7f7f8;margin:0;padding:40px 20px\"><div style=\"max-width:560px;margin:0 auto;background:#fff;border-radius:16px;overflow:hidden;border:1px solid #e0e0e5\"><div style=\"background:#111112;padding:28px 36px\"><div style=\"font-size:1.2rem;font-weight:700;color:#fff\">tomb<span style=\"color:#0057ff\">ai</span>o</div></div><div style=\"padding:40px 36px\"><h1 style=\"font-size:1.5rem;color:#111112;margin:0 0 16px\">' + ($('Validate Input').first().json.plan === 'basic' ? 'Tu Reporte Inicial está listo' : 'Tu Dashboard está listo') + ' 🎯</h1><p style=\"color:#6b6b75;line-height:1.7;margin:0 0 24px\">Hola ' + $('Validate Input').first().json.nombre + ', analizamos todo el contenido de tu categoría. Encontrás los insights más importantes en tu dashboard:</p><a href=\"' + $('Extract Sheet ID').first().json.dashboardUrl + '\" style=\"display:inline-block;background:#0057ff;color:#fff;text-decoration:none;font-weight:600;padding:14px 32px;border-radius:8px;font-size:1rem\">Ver mi ' + ($('Validate Input').first().json.plan === 'basic' ? 'Reporte Inicial' : 'Dashboard') + ' →</a><p style=\"color:#9f9fa8;font-size:.85rem;margin:28px 0 0;line-height:1.6\">¿Dudas o preguntas? Respondé este email o escribinos a <a href=\"mailto:hola@tombaio.com\" style=\"color:#0057ff\">hola@tombaio.com</a></p></div><div style=\"background:#f7f7f8;padding:20px 36px;border-top:1px solid #e0e0e5\"><p style=\"color:#9f9fa8;font-size:.75rem;margin:0\">tombaio · Inteligencia competitiva para redes sociales · <a href=\"https://www.tombaio.com\" style=\"color:#9f9fa8\">tombaio.com</a></p></div></div></body></html>' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 0],
      "id": "aaa00001-0000-0000-0000-000000000010",
      "name": "Enviar Email Cliente"
    }
  ],
  "connections": {
    "Webhook Onboarding": {
      "main": [[{"node": "Validate Input", "type": "main", "index": 0}]]
    },
    "Validate Input": {
      "main": [[{"node": "Create Google Sheet", "type": "main", "index": 0}]]
    },
    "Create Google Sheet": {
      "main": [[{"node": "Write Headers", "type": "main", "index": 0}]]
    },
    "Write Headers": {
      "main": [[{"node": "Extract Sheet ID", "type": "main", "index": 0}]]
    },
    "Extract Sheet ID": {
      "main": [[{"node": "Trigger Scraper", "type": "main", "index": 0}]]
    },
    "Trigger Scraper": {
      "main": [[{"node": "Respond to Client", "type": "main", "index": 0}]]
    },
    "Respond to Client": {
      "main": [[{"node": "Email Owner", "type": "main", "index": 0}]]
    },
    "Email Owner": {
      "main": [[{"node": "Esperar Aprobación", "type": "main", "index": 0}]]
    },
    "Esperar Aprobación": {
      "main": [[{"node": "Enviar Email Cliente", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "onboard-v6",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "onboarding-workflow-001",
  "tags": []
}
