Scrapper-Instagram.json
{
  "name": "Scrapper-Instagram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        80
      ],
      "id": "f8c7ce68-9eb2-4ec0-8807-f48ca75b700a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-instagram",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -544,
        -80
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook Trigger",
      "webhookId": "scrape-instagram-saas"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nfunction extractHandle(s) {\n  const m = String(s).match(/instagram\\.com\\/([^\\/?#]+)/);\n  return m ? m[1].toLowerCase() : String(s).toLowerCase().replace(/\\/$/, '');\n}\n\nconst rawBrands = body.brands;\nif (!rawBrands || rawBrands.length === 0) {\n  throw new Error('Se requieren marcas (brands) para ejecutar el workflow.');\n}\n\nconst sheetId = body.sheetId;\nif (!sheetId) return [];\n\nconst brands = rawBrands.map(extractHandle);\nconst clientEmail = body.clientEmail || '';\nconst myBrand = extractHandle(body.myBrand || rawBrands[0]);\nconst followers = body.followers || {};\nconst plan = body.plan || 'basic';\nconst fromDate = new Date(Date.now() - 90 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];\n\nreturn [{ brands, sheetId, clientEmail, myBrand, followers, plan, fromDate }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        0
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Set Config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer REEMPLAZAR_CON_OPENAI_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.1, response_format: { type: 'json_object' }, messages: [{ role: 'system', content: 'Sos un analista de Social Media experto. Devolvé ÚNICAMENTE JSON válido con una key \"analysis\" que contiene un array de objetos.' }, { role: 'user', content: 'Analizá estos posts de Instagram. Para cada uno devolvé: pilar (elegí SIEMPRE la categoría más afín entre: Branding, Producto, Promo, Influencer, Educacional — NUNCA uses ninguna otra categoría), sentimiento (positivo+negativo+neutro deben sumar 100), insight (1 oración en español).\\n\\nPOSTS:\\n' + JSON.stringify($json.posts.map(p => ({url: p.url, caption: (p.caption||'').substring(0,400), hashtags: (p.hashtags||[]).slice(0,8)}))) + '\\n\\nFormato exacto: {\"analysis\":[{\"url\":\"...\",\"pilar\":\"...\",\"sentimiento\":{\"positivo\":0,\"negativo\":0,\"neutro\":0},\"insight\":\"...\"}]}' }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [644, 0],
      "id": "a20b68f6-a2d8-496e-b128-cb9fd7c4e9a9",
      "name": "GPT Analysis",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "try {\n  // Get Gemini batch response\n  const geminiRaw = $input.first().json;\n  \n  // Get original posts data from Aggregate node\n  const originalPosts = $('Aggregate Posts').first().json.posts || [];\n  const config = $('Set Config').first().json;\n  const marcas = config.brands.map(b => b.toLowerCase());\n  const fromDate = config.fromDate || '2000-01-01';\n  const followersMap = (() => { try { return $('Extract Follower Counts').first().json.followersMap || {}; } catch(e) { return {}; } })();\n\n  // Parse OpenAI response\n  let analysisArray;\n  if (geminiRaw.choices && geminiRaw.choices[0]) {\n    const content = geminiRaw.choices[0].message?.content || '';\n    const parsed = JSON.parse(content);\n    analysisArray = parsed.analysis || parsed;\n  } else if (Array.isArray(geminiRaw)) {\n    analysisArray = geminiRaw;\n  } else {\n    throw new Error('Formato inesperado: ' + JSON.stringify(Object.keys(geminiRaw)));\n  }\n\n  if (!Array.isArray(analysisArray)) throw new Error('Gemini response is not an array');\n\n  // Build a map of url → analysis for fast lookup\n  const analysisMap = {};\n  for (const a of analysisArray) {\n    if (a.url) analysisMap[a.url] = a;\n  }\n\n  const results = [];\n  for (const igData of originalPosts) {\n    try {\n      const url = igData.url || '';\n      const analysis = analysisMap[url];\n      if (!analysis) continue;\n\n      // Date guard\n      const _fecha = igData.timestamp ? new Date(igData.timestamp).toISOString().slice(0,10) : '2000-01-01';\n      if (_fecha < fromDate) continue;\n\n      // Brand detection — skip posts from unknown accounts (influencers, etc.)\n      const owner = (igData.ownerUsername || igData.username || '').toLowerCase();\n      const marcaFinal = marcas.find(m => owner.includes(m) || m.includes(owner));\n      if (!marcaFinal) continue;\n\n      // Engagement\n      const likes = igData.likesCount || 0;\n      const comments = igData.commentsCount || 0;\n      const seguidores = followersMap[marcaFinal] || config.followers?.[marcaFinal] || igData.ownerFollowerCount || igData.followersCount || 0;\n      const eng = seguidores > 0\n        ? (((likes + comments) / seguidores) * 100).toFixed(2) + '%'\n        : '0%';\n\n      // Content type\n      const t = (igData.type || '').toLowerCase();\n      const contentType = t.includes('video') || t.includes('reel') ? 'VIDEO'\n        : t.includes('sidecar') || t.includes('album') ? 'SIDECAR' : 'IMAGE';\n\n      const isSponsored = !!(igData.isSponsored || igData.isPinned);\n      const VALID_PILARS = ['Branding','Producto','Promo','Influencer','Educacional'];\n      const pilarFinal = VALID_PILARS.includes(analysis.pilar) ? analysis.pilar : 'Branding';\n      const distribucion = isSponsored ? 'PAUTA' : 'ORGÁNICO';\n\n      results.push({\n        marca: marcaFinal,\n        pilar: pilarFinal,\n        fecha: _fecha,\n        distribucion,\n        positivo: analysis.sentimiento?.positivo || 0,\n        negativo: analysis.sentimiento?.negativo || 0,\n        neutro: analysis.sentimiento?.neutro || 0,\n        likes,\n        comments,\n        engagement: eng,\n        insight: analysis.insight || 'Sin análisis',\n        url,\n        videoViews: igData.videoViewCount || igData.videoPlayCount || 0,\n        contentType,\n        isSponsored,\n        hashtags: Array.isArray(igData.hashtags) ? igData.hashtags.join(',') : '',\n        followers: seguidores\n      });\n    } catch(e) {\n      // skip individual post parse errors\n    }\n  }\n\n  return results;\n\n} catch(e) {\n  // Return empty — do not write error rows\n  return [];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        0
      ],
      "id": "dcdef628-78fe-4f91-83a0-b1299929e7b6",
      "name": "Code in JavaScript",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set Config').first().json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Base",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "RED-SOCIAL": "INSTAGRAM",
            "POSTEO": "={{ $json.url }}",
            "PILAR": "={{ $json.pilar }}",
            "POSITIVO": "={{ $json.positivo }}",
            "NEGATIVO": "={{ $json.negativo }}",
            "NEUTRO": "={{ $json.neutro }}",
            "INSIGHT": "={{ $json.insight }}",
            "LIKES": "={{ $json.likes }}",
            "COMENTARIOS": "={{ $json.comments }}",
            "ENGAGEMENT": "={{ $json.engagement }}",
            "DATE": "={{ $json.fecha }}",
            "TYPE": "={{ $json.distribucion }}",
            "MARCA": "={{ $json.marca }}",
            "VIEWS": "={{ $json.videoViews }}",
            "CONTENT_TYPE": "={{ $json.contentType }}",
            "SPONSORED": "={{ $json.isSponsored }}",
            "HASHTAGS": "={{ $json.hashtags }}",
            "FOLLOWERS": "={{ $json.followers }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "RED-SOCIAL",
              "displayName": "RED-SOCIAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "POSTEO",
              "displayName": "POSTEO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PILAR",
              "displayName": "PILAR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "POSITIVO",
              "displayName": "POSITIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NEGATIVO",
              "displayName": "NEGATIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NEUTRO",
              "displayName": "NEUTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "INSIGHT",
              "displayName": "INSIGHT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LIKES",
              "displayName": "LIKES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "COMENTARIOS",
              "displayName": "COMENTARIOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ENGAGEMENT",
              "displayName": "ENGAGEMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TYPE",
              "displayName": "TYPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MARCA",
              "displayName": "MARCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VIEWS",
              "displayName": "VIEWS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CONTENT_TYPE",
              "displayName": "CONTENT_TYPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SPONSORED",
              "displayName": "SPONSORED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HASHTAGS",
              "displayName": "HASHTAGS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FOLLOWERS",
              "displayName": "FOLLOWERS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        0
      ],
      "id": "986e284b-26f3-45b4-9561-58f778a36538",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q0QymsIPNMn7XUhz",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set Config').first().json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Base",
          "mode": "name"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "FORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        0
      ],
      "id": "8822672c-bdb2-4416-b13f-f238e33a9b5e",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q0QymsIPNMn7XUhz",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b66164dd-68fa-44ff-a128-477465014400",
              "leftValue": "={{ $('Build Dedup List').first().json.existingUrls }}",
              "rightValue": "={{ $json.url.trim() }}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        432,
        0
      ],
      "id": "7eabb48e-ad17-4249-b3e6-68bd18152809",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "shu8hvrXbJbY3Eb9W",
          "mode": "list",
          "cachedResultName": "Instagram Scraper (apify/instagram-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/shu8hvrXbJbY3Eb9W/input"
        },
        "customBody": "={{ JSON.stringify({ directUrls: $('Set Config').first().json.brands.map(b => 'https://www.instagram.com/' + b + '/'), resultsLimit: 30, fromDate: $('Set Config').first().json.fromDate, scrapePosts: true, scrapeComments: false, enhanceUserData: true }) }}",
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "a328987b-7379-4360-83f8-958795fd2380",
      "name": "Run an Actor and get dataset",
      "alwaysOutputData": true,
      "credentials": {
        "apifyOAuth2Api": {
          "id": "eUm5nmUy2Eqh8k51",
          "name": "Apify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1184,
        0
      ],
      "id": "email-agg-001",
      "name": "Wait for All Posts"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Set Config').first().json;\nconst clientEmail = config.clientEmail || '';\nif (!clientEmail) return [];\n\nconst plan = config.plan || 'basic';\nconst dashboardUrl = 'https://www.tombaio.com/Instagram_Intelligence%20(24).html?id=' \n  + config.sheetId + '&myBrand=' + encodeURIComponent(config.myBrand) + '&plan=' + plan;\nconst allPosts = $input.first().json.data || [];\nconst postCount = allPosts.length;\n\nconst isBasic = plan === 'basic';\nconst title = isBasic ? '\\u00a1Tu Reporte Inicial ya est\\u00e1 listo!' : '\\u00a1Tu dashboard ya est\\u00e1 listo!';\nconst subtitle = isBasic\n  ? 'Tu marca + 2 competidores \\u00b7 \\u00daltimos 3 meses de posteos y comentarios'\n  : 'El an\\u00e1lisis de inteligencia competitiva de tus marcas en Instagram est\\u00e1 disponible.';\nconst btnLabel = isBasic ? 'Ver mi Reporte' : 'Ver mi Dashboard';\n\nconst emailBody = '<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; background-color: #0f1117; color: #e2e8f0; padding: 40px; border-radius: 12px;\">'\n  + '<div style=\"margin-bottom: 32px;\"><span style=\"font-size: 22px; font-weight: bold;\"><span style=\"color: #111;\">tomb</span><span style=\"color: #0057ff;\">ai</span><span style=\"color: #111;\">o</span></span></div>'\n  + '<h1 style=\"font-size: 28px; font-weight: bold; color: #ffffff; margin-bottom: 8px;\">' + title + '</h1>'\n  + '<p style=\"color: #94a3b8; font-size: 16px; margin-bottom: 32px;\">' + subtitle + '</p>'\n  + '<div style=\"background-color: #1e293b; border-radius: 10px; padding: 24px; margin-bottom: 32px;\">'\n  + '<p style=\"margin: 0 0 12px 0; font-size: 15px;\"><strong>' + postCount + ' posts</strong> analizados con IA</p>'\n  + (isBasic ? '<p style=\"margin: 0 0 12px 0; font-size: 15px;\">Sentimiento \\u00b7 benchmark \\u00b7 recomendaciones</p>' : '')\n  + '<p style=\"margin: 0; font-size: 15px; color: #64748b;\">Entrega en 2 horas \\u2713</p>'\n  + '</div>'\n  + '<a href=\"' + dashboardUrl + '\" style=\"display: inline-block; background-color: #16a34a; color: #ffffff; text-decoration: none; padding: 14px 28px; border-radius: 8px; font-size: 16px; font-weight: bold; margin-bottom: 32px;\">' + btnLabel + '</a>'\n  + '<hr style=\"border: none; border-top: 1px solid #1e293b; margin: 32px 0;\" />'\n  + '<p style=\"color: #475569; font-size: 12px; margin: 0;\">\\u00bfAlg\\u00fan problema? Escribinos a <a href=\"mailto:hola@tombaio.com\" style=\"color: #38bdf8;\">hola@tombaio.com</a></p>'\n  + '</div>';\n\nreturn [{ clientEmail, dashboardUrl, postCount, plan, emailBody }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ],
      "id": "email-build-001",
      "name": "Build Email Data"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.clientEmail }}",
        "subject": "Tu dashboard de Instagram Intelligence ya está listo ✅",
        "emailType": "html",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1504,
        0
      ],
      "id": "email-send-001",
      "name": "Send Ready Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Collect existing post URLs for deduplication\n// Always outputs 1 item even when sheet is empty (0 input items)\nconst items = $input.all();\nconst existingUrls = items\n  .map(i => (i.json.POSTEO || '').trim())\n  .filter(Boolean)\n  .join(',');\nreturn [{ existingUrls }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        0
      ],
      "id": "dedup-list-node-0001",
      "name": "Build Dedup List"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $('Set Config').first().json.sheetId + '/values/Base!R1?valueInputOption=RAW' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"values\":[[\"FOLLOWERS\"]]}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [96, 0],
      "id": "ensure-followers-ig-001",
      "name": "Ensure FOLLOWERS Header",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q0QymsIPNMn7XUhz",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-valid-url",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "filter-not-error",
              "leftValue": "={{ $json.marca }}",
              "rightValue": "ERROR",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        944,
        0
      ],
      "id": "filter-valid-posts-node",
      "name": "Filter Valid Posts"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "posts",
        "include": "allFields",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        504,
        0
      ],
      "id": "aggregate-all-posts",
      "name": "Aggregate Posts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-profile-scraper/run-sync-get-dataset-items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apifyOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { usernames: $('Set Config').first().json.brands } }}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [160, 200],
      "id": "get-follower-counts-ig-001",
      "name": "Get Follower Counts",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const followersMap = {};\nconst config = $('Set Config').first().json;\nconst marcas = config.brands.map(b => b.toLowerCase());\n\nconst deepScan = (obj) => {\n  if (!obj || typeof obj !== 'object') return 0;\n  const known = ['followersCount','follower_count','ownerFollowersCount','ownerFollowerCount','userFollowersCount','followers_count','edge_followed_by'];\n  for (const f of known) {\n    if (f === 'edge_followed_by') { if (obj[f]?.count > 0) return obj[f].count; continue; }\n    if (obj[f] > 0) return obj[f];\n  }\n  for (const k of Object.keys(obj)) {\n    const kl = k.toLowerCase();\n    if (kl.includes('follower') && !kl.includes('following') && typeof obj[k] === 'number' && obj[k] > 0) return obj[k];\n  }\n  return 0;\n};\n\nconst matchMarca = (username) => {\n  const u = (username || '').toLowerCase();\n  return marcas.find(m => m === u || (m.length >= 5 && u.startsWith(m)) || (u.length >= 5 && m.startsWith(u)));\n};\n\n// Handle both: array response (apify profile scraper) and individual items\nconst rawItems = $input.all();\nconst profiles = [];\nfor (const item of rawItems) {\n  const d = item.json;\n  // run-sync-get-dataset-items returns array at root or inside body\n  if (Array.isArray(d)) { profiles.push(...d); }\n  else if (Array.isArray(d.body)) { profiles.push(...d.body); }\n  else { profiles.push(d); }\n}\n\nfor (const d of profiles) {\n  const username = d.username || d.ownerUsername || d.handle || '';\n  const marca = matchMarca(username);\n  if (!marca || followersMap[marca] > 0) continue;\n  // Deep scan root + nested objects (owner, user, userInfo, stats)\n  const followers = deepScan(d) || deepScan(d.owner) || deepScan(d.user) || deepScan(d.userInfo) || deepScan(d.stats) || 0;\n  if (followers > 0) followersMap[marca] = followers;\n}\n\nreturn [{ followersMap }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 200],
      "id": "extract-follower-counts-ig-001",
      "name": "Extract Follower Counts",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Analysis": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Filter Valid Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Build Dedup List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait for All Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for All Posts": {
      "main": [
        [
          {
            "node": "Build Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Data": {
      "main": [
        [
          {
            "node": "Send Ready Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dedup List": {
      "main": [
        [
          {
            "node": "Ensure FOLLOWERS Header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure FOLLOWERS Header": {
      "main": [
        [
          {
            "node": "Get Follower Counts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Follower Counts": {
      "main": [
        [
          {
            "node": "Extract Follower Counts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Follower Counts": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Posts": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Posts": {
      "main": [
        [
          {
            "node": "GPT Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e6c3776b-66c4-4fba-9dec-54029052ccc6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4235662c3cf5b6f9f47aa91a1ea29c2749c6c8b8d86e6293162c4b41e5b0f97"
  },
  "id": "lepJLoW7ww1amux4",
  "tags": []
}