Scrapper-Instagram.json
{
  "name": "Scrapper-Instagram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        80
      ],
      "id": "f8c7ce68-9eb2-4ec0-8807-f48ca75b700a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape-instagram",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -544,
        -80
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook Trigger",
      "webhookId": "scrape-instagram-saas"
    },
    {
      "parameters": {
        "jsCode": "// Configuración dinámica desde el webhook (formulario del cliente)\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// Marcas: OBLIGATORIO desde el webhook. Sin marcas, no corre.\nconst brands = body.brands;\nif (!brands || brands.length === 0) {\n  throw new Error('Se requieren marcas (brands) para ejecutar el workflow.');\n}\n\n// Sheet ID: OBLIGATORIO desde el webhook.\nconst sheetId = body.sheetId;\nif (!sheetId) {\n  // Si no hay sheetId (ej: Schedule Trigger), no hay nada que procesar\n  return [];\n}\n\n// Datos del cliente\nconst clientEmail = body.clientEmail || '';\nconst myBrand = body.myBrand || brands[0];\n\n// Seguidores opcionales desde webhook (si no vienen, se toman de Apify)\nconst followers = body.followers || {};\n\nconst plan = body.plan || 'basic';\nconst fromDate = new Date(Date.now() - 90 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];\n\nreturn [{ brands, sheetId, clientEmail, myBrand, followers, plan, fromDate }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        0
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Set Config"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Actuá como un analista de Social Media. Analizá la performance de este posteo de la competencia.\n\nAnalizá la performance de este posteo.\n\nDATOS:\n- Texto del posteo: {{ $json.caption }}\n- Comentarios reales: {{ $json.latestComments ? $json.latestComments.map(c => c.text).join(' | ') : \"No hay comentarios\" }}\n\nTAREA:\n1. Basado en el texto y los comentarios, asigná un porcentaje de sentimiento (0-100).\n2. Si no hay comentarios, poné Neutro: 100.\n3. Decime si el posteo funcionó o fue irrelevante.\n\nFORMATO (JSON):\n{\n\"pilar\": \"Branding/Producto/Promo\",\n\"sentimiento\": {\"positivo\": 0, \"negativo\": 0, \"neutro\": 0},\n\"insight\": \"\"\n}\n"
            },
            {
              "content": "Sos un experto en Business Intelligence y Marketing. Tu única misión es extraer datos de la competencia y devolverlos en formato JSON puro.",
              "role": "model"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        576,
        0
      ],
      "id": "a20b68f6-a2d8-496e-b128-cb9fd7c4e9a9",
      "name": "Message a model",
      "executeOnce": false,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "Ld7i1lQ0mINBuKhN",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Extraemos el análisis de Gemini\nconst rawText = $json.content.parts[0].text;\nconst cleanText = rawText.replace(/```json/g, '').replace(/```/g, '').trim();\n\ntry {\n  let result = JSON.parse(cleanText);\n  const igData = $node[\"Run an Actor and get dataset\"].json;\n\n  // Marcas y seguidores dinámicos desde Set Config\n  const config = $('Set Config').first().json;\n  const marcas = config.brands.map(b => b.toLowerCase());\n  const seguidores = config.followers || {};\n\n  let owner = (igData.ownerUsername || \"\").toLowerCase().trim();\n  const caption = (igData.caption || \"\").toLowerCase();\n\n  let marcaFinal = \"\";\n  let pilarFinal = result.pilar || \"Otros\";\n\n  // Lógica de identificación de marca\n  if (marcas.includes(owner)) {\n    marcaFinal = owner;\n  } else {\n    // Post de influencer: buscar la marca colaboradora en caption, hashtags y usertags\n    pilarFinal = \"Influencer\";\n    const hashtags = Array.isArray(igData.hashtags) ? igData.hashtags.join(' ').toLowerCase() : '';\n    const usertags = Array.isArray(igData.taggedUsers)\n      ? igData.taggedUsers.map(u => (u.username || u.name || '').toLowerCase()).join(' ')\n      : '';\n    const coauthors = Array.isArray(igData.coauthorProducers)\n      ? igData.coauthorProducers.map(u => (u.username || '').toLowerCase()).join(' ')\n      : '';\n    const searchText = caption + ' ' + hashtags + ' ' + usertags + ' ' + coauthors;\n    // Match marca against all searchable text (ignore dots and underscores)\n    const encontrada = marcas.find(m => searchText.includes(m.replace(/[._]/g, '')));\n    if (!encontrada) return null; // can't attribute post to any brand → skip\n    marcaFinal = encontrada;\n  }\n\n  // Cálculo de Engagement: usa dato de Apify si está disponible, sino el pasado por webhook\n  const followersFromApify = igData.ownerFollowersCount || igData.followersCount || 0;\n  // Use Apify value only if credible (>=1000), otherwise fall back to default 100K\n  const followersCount = followersFromApify >= 1000 ? followersFromApify : (seguidores[marcaFinal] || 100000);\n  const eng = (((igData.likesCount || 0) + (igData.commentsCount || 0)) / followersCount * 100).toFixed(2) + \"%\";\n\n  // Tipo de contenido (IMAGE / VIDEO / SIDECAR)\n  const ptRaw = (igData.productType || igData.type || '').toLowerCase();\n  let contentType = 'IMAGE';\n  if (ptRaw === 'clips' || ptRaw === 'graphvideo' || ptRaw === 'video') contentType = 'VIDEO';\n  else if (ptRaw === 'sidecar' || ptRaw === 'graphsidecar') contentType = 'SIDECAR';\n  else if (ptRaw === 'igtv') contentType = 'VIDEO';\n\n  // Pauta: usa flag real de Apify, con fallback al heurístico por likes\n  const isSponsored = igData.isSponsored === true;\n  const distribucion = isSponsored ? 'PAUTA' : (igData.likesCount > 400 ? 'PAUTA' : 'ORGÁNICO');\n\n  // Hashtags del post\n  const hashtags = Array.isArray(igData.hashtags) ? igData.hashtags.join(',') : '';\n\n  // Reproducciones (solo videos)\n  const videoViews = igData.videoViewCount || igData.videoPlayCount || 0;\n\n  // Skip posts older than the configured fromDate window\n  const _fecha = igData.timestamp ? new Date(igData.timestamp).toISOString().slice(0,10) : '2000-01-01';\n  if (_fecha < config.fromDate) return null;\n\n  return {\n    marca: marcaFinal,\n    pilar: pilarFinal,\n    fecha: _fecha,\n    distribucion,\n    positivo: result.sentimiento?.positivo || 0,\n    negativo: result.sentimiento?.negativo || 0,\n    neutro: result.sentimiento?.neutro || 0,\n    likes: igData.likesCount || 0,\n    comments: igData.commentsCount || 0,\n    engagement: eng,\n    insight: result.insight || \"Sin análisis\",\n    url: igData.url,\n    videoViews,\n    contentType,\n    isSponsored,\n    hashtags\n  };\n\n} catch (e) {\n  return { marca: \"ERROR\", insight: e.message };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        0
      ],
      "id": "dcdef628-78fe-4f91-83a0-b1299929e7b6",
      "name": "Code in JavaScript",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set Config').first().json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Base",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "RED-SOCIAL": "INSTAGRAM",
            "POSTEO": "={{ $json.url }}",
            "PILAR": "={{ $json.pilar }}",
            "POSITIVO": "={{ $json.positivo }}",
            "NEGATIVO": "={{ $json.negativo }}",
            "NEUTRO": "={{ $json.neutro }}",
            "INSIGHT": "={{ $json.insight }}",
            "LIKES": "={{ $json.likes }}",
            "COMENTARIOS": "={{ $json.comments }}",
            "ENGAGEMENT": "={{ $json.engagement }}",
            "DATE": "={{ $json.fecha }}",
            "TYPE": "={{ $json.distribucion }}",
            "MARCA": "={{ $json.marca }}",
            "VIEWS": "={{ $json.videoViews }}",
            "CONTENT_TYPE": "={{ $json.contentType }}",
            "SPONSORED": "={{ $json.isSponsored }}",
            "HASHTAGS": "={{ $json.hashtags }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MARCA",
              "displayName": "MARCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RED-SOCIAL",
              "displayName": "RED-SOCIAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TYPE",
              "displayName": "TYPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "POSTEO",
              "displayName": "POSTEO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PILAR",
              "displayName": "PILAR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "POSITIVO",
              "displayName": "POSITIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NEGATIVO",
              "displayName": "NEGATIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NEUTRO",
              "displayName": "NEUTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LIKES",
              "displayName": "LIKES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "COMENTARIOS",
              "displayName": "COMENTARIOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ENGAGEMENT",
              "displayName": "ENGAGEMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INSIGHT",
              "displayName": "INSIGHT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VIEWS",
              "displayName": "VIEWS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "CONTENT_TYPE",
              "displayName": "CONTENT_TYPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "SPONSORED",
              "displayName": "SPONSORED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "HASHTAGS",
              "displayName": "HASHTAGS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        0
      ],
      "id": "986e284b-26f3-45b4-9561-58f778a36538",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q0QymsIPNMn7XUhz",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Set Config').first().json.sheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Base",
          "mode": "name"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "FORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        0
      ],
      "id": "8822672c-bdb2-4416-b13f-f238e33a9b5e",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q0QymsIPNMn7XUhz",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b66164dd-68fa-44ff-a128-477465014400",
              "leftValue": "={{ $('Aggregate').first().json.POSTEO.toString() }}",
              "rightValue": "={{ $json.url.trim() }}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        432,
        0
      ],
      "id": "7eabb48e-ad17-4249-b3e6-68bd18152809",
      "name": "Filter"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        96,
        0
      ],
      "id": "b4281398-2e5f-49bd-8cbf-0d0be858f189",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "shu8hvrXbJbY3Eb9W",
          "mode": "list",
          "cachedResultName": "Instagram Scraper (apify/instagram-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/shu8hvrXbJbY3Eb9W/input"
        },
        "customBody": "={{ JSON.stringify({ directUrls: $('Set Config').first().json.brands.map(b => 'https://www.instagram.com/' + b + '/'), resultsLimit: 150, fromDate: $('Set Config').first().json.fromDate, scrapePosts: true, scrapeComments: true }) }}",
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "a328987b-7379-4360-83f8-958795fd2380",
      "name": "Run an Actor and get dataset",
      "alwaysOutputData": true,
      "credentials": {
        "apifyOAuth2Api": {
          "id": "eUm5nmUy2Eqh8k51",
          "name": "Apify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "MARCA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -64,
        0
      ],
      "id": "c52fa185-d75f-4fa2-affc-82f962d3beb4",
      "name": "Sort",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1184,
        0
      ],
      "id": "email-agg-001",
      "name": "Wait for All Posts"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Set Config').first().json;\nconst clientEmail = config.clientEmail || '';\nif (!clientEmail) return [];\n\nconst plan = config.plan || 'basic';\nconst dashboardUrl = 'https://smart-social-ai.vercel.app/Instagram_Intelligence%20(24).html?id=' \n  + config.sheetId + '&myBrand=' + encodeURIComponent(config.myBrand) + '&plan=' + plan;\nconst allPosts = $input.first().json.data || [];\nconst postCount = allPosts.length;\n\nconst isBasic = plan === 'basic';\nconst title = isBasic ? '\\u00a1Tu Reporte Inicial ya est\\u00e1 listo!' : '\\u00a1Tu dashboard ya est\\u00e1 listo!';\nconst subtitle = isBasic\n  ? 'Tu marca + 2 competidores \\u00b7 \\u00daltimos 3 meses de posteos y comentarios'\n  : 'El an\\u00e1lisis de inteligencia competitiva de tus marcas en Instagram est\\u00e1 disponible.';\nconst btnLabel = isBasic ? 'Ver mi Reporte' : 'Ver mi Dashboard';\n\nconst emailBody = '<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; background-color: #0f1117; color: #e2e8f0; padding: 40px; border-radius: 12px;\">'\n  + '<div style=\"margin-bottom: 32px;\"><span style=\"font-size: 22px; font-weight: bold;\"><span style=\"color: #38bdf8;\">smart</span><span style=\"color: #ffffff;\">Social</span> <span style=\"color: #38bdf8;\">AI</span></span></div>'\n  + '<h1 style=\"font-size: 28px; font-weight: bold; color: #ffffff; margin-bottom: 8px;\">' + title + '</h1>'\n  + '<p style=\"color: #94a3b8; font-size: 16px; margin-bottom: 32px;\">' + subtitle + '</p>'\n  + '<div style=\"background-color: #1e293b; border-radius: 10px; padding: 24px; margin-bottom: 32px;\">'\n  + '<p style=\"margin: 0 0 12px 0; font-size: 15px;\"><strong>' + postCount + ' posts</strong> analizados con IA</p>'\n  + (isBasic ? '<p style=\"margin: 0 0 12px 0; font-size: 15px;\">Sentimiento \\u00b7 benchmark \\u00b7 recomendaciones</p>' : '')\n  + '<p style=\"margin: 0; font-size: 15px; color: #64748b;\">Entrega en 2 horas \\u2713</p>'\n  + '</div>'\n  + '<a href=\"' + dashboardUrl + '\" style=\"display: inline-block; background-color: #16a34a; color: #ffffff; text-decoration: none; padding: 14px 28px; border-radius: 8px; font-size: 16px; font-weight: bold; margin-bottom: 32px;\">' + btnLabel + '</a>'\n  + '<hr style=\"border: none; border-top: 1px solid #1e293b; margin: 32px 0;\" />'\n  + '<p style=\"color: #475569; font-size: 12px; margin: 0;\">\\u00bfAlg\\u00fan problema? Escribinos a <a href=\"mailto:hola@smartsocial.ai\" style=\"color: #38bdf8;\">hola@smartsocial.ai</a></p>'\n  + '</div>';\n\nreturn [{ clientEmail, dashboardUrl, postCount, plan, emailBody }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ],
      "id": "email-build-001",
      "name": "Build Email Data"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.clientEmail }}",
        "subject": "Tu dashboard de Instagram Intelligence ya está listo ✅",
        "emailType": "html",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1504,
        0
      ],
      "id": "email-send-001",
      "name": "Send Ready Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait for All Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for All Posts": {
      "main": [
        [
          {
            "node": "Build Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Data": {
      "main": [
        [
          {
            "node": "Send Ready Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e6c3776b-66c4-4fba-9dec-54029052ccc6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4235662c3cf5b6f9f47aa91a1ea29c2749c6c8b8d86e6293162c4b41e5b0f97"
  },
  "id": "lepJLoW7ww1amux4",
  "tags": []
}